/* RTL Support for Persian/Arabic content */
:root {
    --background-main: #fff;
    --primary: #6b47e1;
    --title: #15181e;
    --body: #45464f;
    /* بقیه متغیرها که فرستادی */
}
html,
body {
    direction: rtl !important;
    text-align: right !important;
    font-family: 'Vazirmatn', 'Tahoma', 'Arial', sans-serif !important;
    background-color: var(--background-main);
    color: var(--body);
}

.ButtonGroup__ButtonGroupWrapper-sc-wc419o-0.jIKzSj.button-group-outlined.button-group-size-medium {
    flex-direction: row-reverse;
}


h1, h2, h3, h4 {
    color: var(--title);
}

a {
    color: var(--primary);
}

button {
    background-color: var(--primary);
    color: var(--btn-text-primary);
}